# --- Dependencies & Package Manager ---
node_modules/
.pnpm-store
pnpm-lock.yaml

# --- Terraform (Let `terraform fmt` handle these) ---
.terraform
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tf
*.tfvars

# --- TanStack Start / Vinxi Build Artifacts ---
.vinxi
.output
.wrangler
dist
dist-ssr
build
routeTree.gen.ts

# --- Environment & OS ---
.env
.dev.vars
.DS_Store
coverage
LICENSE
